name: Maestro E2E Tests
on: [pull_request]
jobs:
  test:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - name: Install Maestro
        run: curl -Ls "https://get.maestro.mobile.dev" | bash
      - name: Install IDB
        run: brew tap facebook/fb && brew install facebook/fb/idb-companion
      - name: Build and Test
        run: ./MaestroTests/scripts/build_and_test.sh
      - name: Upload results on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: maestro-results
          path: ~/.maestro/tests/
